@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --breakpoint-xs: 480px;
}

@layer base {
  body {
    @apply bg-emerald-950 text-white selection:bg-emerald-500/30;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
